@import 'variables';
@import 'global.scss';
@import 'banner.scss';
@import 'skills.scss';
@import 'works.scss';
@import 'footer.scss';
@import 'navbar.scss';
@import 'about.scss';

//! <| === === === === === |> STYLES RESPONSIVE MOBILE

@media screen and (max-width: 450px) {
	//! Responsive
	p,
	input,
	textarea,
	#navbar__list {
		li {
			a {
				font-size: 1.5rem;
			}
		}
	}

	//! Navbar
	#navbar {
		h2 {
			display: none;
		}

		img {
			top: 0.9rem;
		}

		ul {
			margin-top: 1.1rem;
		}
	}

	//? BANNER
	#banner__main {
		height: 60vh;
		padding-top: 5vh;
		padding-bottom: 10vh;

		#banner__info {
			width: 60%;

			h1 {
				font-size: 1.8rem;
			}

			p {
				margin: 0;
				width: auto;
			}
		}
	}

	//[] ABOUT SECTION
	#about__section {
		height: auto;
		padding: 2rem;
		padding-bottom: 5rem;
	}

	//[] SKILLS
	#skills__section {
		margin-top: -3.5rem;
		width: 90%;

		.container {
			flex-direction: column;

			.skills__container {
				padding: 2.5rem;

				h3,
				.skills__subtitle {
					font-size: 1.5rem;
				}
			}

			.centered {
				border: none;
				border-top: 0.1rem solid var(--blue-20);
				border-bottom: 0.1rem solid var(--blue-20);
			}
		}
	}

	//[] WORKS
	#works__section {
		h2,
		p {
			width: 85%;
			margin-inline: auto;
		}

		.works__container {
			flex-direction: column;
			margin-bottom: 0;

			.work__hero {
				margin-bottom: 2rem;
				flex: 1 1 30rem;
			}
		}
	}

	//[] FOOTER
	footer {
		padding: 5rem 1.5rem;

		form {
			width: 100%;
		}

		.detail {
			margin-top: 1rem;
			display: block;
		}
	}
}
